{% load static %}
<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Home</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <nav class="green accent-4 white-text" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" class="brand-logo grey-text text-darken-4" href="/" class="brand-logo"> PixelTracker </a>
        <ul class="right hide-on-med-and-down">
          <li><a class="grey-text text-darken-4" href="/"> Home</a></li>
          {% if user.is_authenticated %}
            <li><a class="grey-text text-darken-4" href="/settings">Settings</a></li>
            <li><a class="grey-text text-darken-4" href="/logout">Logout</a></li>
          {% else %}
            <li><a class="grey-text text-darken-4" href="/register">Register</a></li>
            <li><a class="grey-text text-darken-4" href="/login">Login</a></li>
          {% endif %}
        </ul>
    </div>
    </nav>

  </head>

  <body class="blue-grey darken-4 white-text container">
    <div class="container">
      <br></br>
      {% block content %}
      {% endblock %}
    </div>


  </body>

  <!--  Scripts-->  
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
</html>