{% extends "pixel/base.html" %}
	{% block content%}	
		<div class="container">
			{% if user.is_authenticated %}
			<h1>Greetings {{user.username}}</h1>

			<form method="POST">
 			{% csrf_token %}
			{{ select_domain_form.domain.label_tag }}
 			{{ select_domain_form.domain}}
			<div class="input-field">
				<select name="{{ select_domain_form.domain.name }}" class="browser-default" onchange='submit();'>
            	{% for d in select_domain_form.fields.domain.choices %}
              		<option value="{{d.0}}">{{d.1}}</option>
        		{% endfor %}
	      		</select>
          	</div>
			</form>

			<br>
			<textarea>
			&ltimg src=http://localhost:8000/pixel/{{ slug }}&gt
			</textarea>
			<br>
			<div class="data">
			 	<table class="table table-striped table-bordered">
					<tr>
						<th>Time Opened</th>
						<th>IP</th>
						<th>Country</th>
						<th>Country Code</th>
						<th>Region</th>
						<th>Device</th>
						<th>OS</th>
						<th>Agent</th>
					</tr>
				{% for v in page_visits%}
					<tr>
						<td>{{ v.time_opened }}</td>
						<td>{{ v.ip }}</td>
						<td>{{ v.country_name }}</td>
						<td>{{ v.country_code }}</td>
						<td>{{ v.region_name }}</td>
						<td>{{ v.device }}</td>
						<td>{{ v.agent }}</td>			
						<td>{{ v.os }}</td>
					</tr>
				{% endfor %}
				</table>
			</div>
		{% else %}
			<h1>Greetings</h1>
		{% endif %}
	</div>
	{% endblock%}
