{% extends "pixel/base.html" %}

	{% block content%}
		<form method="POST">
 			{% csrf_token %}
 			{{register_domain_form.as_p}}
 			<button class="btn green accent-4 grey-text text-darken-4" type="submit"> Register </button>
		</form>

		<form method="POST">
 			{% csrf_token %}
			{{ delete_domain_form.domain.label_tag }}
			<div class="input-field">
				<select name="{{ delete_domain_form.domain.name }}" class="browser-default">
            	<option value="-1">Select a Domain to Delete.</option>
            	{% for d in delete_domain_form.fields.domain.choices %}
              		<option value="{{d.0}}">{{d.1}}</option>
        		{% endfor %}
	      		</select>
          	</div>
 			<button class="btn green accent-4 grey-text text-darken-4" type="submit"> Delete </button>
		</form>
		<form method="POST">
 			{% csrf_token %}
 			{{change_password_form.as_p}}
 			<button class="btn green accent-4 grey-text text-darken-4" type="submit"> Confirm </button>
		</form>
	{% endblock%}
