<title> Home </title>

<head>
  {% load static %}
  <!-- Compiled and minified JavaScript -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <style>
  table, th, td {
   border: 2px solid black;
   color: white;

  }
  th {
    background-color: limegreen;
  }
  </style>
</head>


<body style="color: white; background-color: darkslategrey;">
  {% include "pixel/includes/navbar.html" %}

  {% include "pixel/includes/messages.html" %}
  <div class="container">
    <br></br>
    {% block content %}
    {% endblock %}
  </div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript">M.AutoInit();</script>
